@import "../base.styl"

$keyframe-scrollarrow-left = scrollarrowleft
$keyframe-scrollarrow-right = scrollarrowright

@keyframes {$keyframe-scrollarrow-left}
  0%
    transform: translate(0, -50%)
  50%
    transform: translate(-100%, -50%)
  100%
    transform: translate(0, -50%)

@keyframes {$keyframe-scrollarrow-right}
  0%
    transform: translate(0, -50%)
  50%
    transform: translate(100%, -50%)
  100%
    transform: translate(0, -50%)

.content
  background-color: #000

  h2
    margin-bottom: 30px
    text-align: center

  h4
    height: 30px
    padding-bottom: 25px
    color: #e2e2e2
    font-size: 30px
    line-height: 1

  .block
    margin-bottom: 80px

.page-text
  color: #a6a6a6
  font-size: 16px
  line-height: 1.4

/* page blocks */
.banner
  padding: 80px 0 80px 0
  margin: 0 !important
  background: url($imgDir/page/project-introduction/banner.jpg) center top no-repeat
  background-size: 1440px 614px

  .page-wrap
    position: relative
    height: 515px

  .banner-text
    width: 560px
    padding-top: 50px
    color: #a6a6a6
    font-size: 16px
    line-height: 1.4

    p
      padding: 5px 0

  .banner-photo
    position: absolute
    top: 95px
    right: 70px
    width: 210px
    height: 253px

.intro
  .intro-phase
    margin-bottom: 80px

    .intro-phase-list
      display: flex
      flex-wrap: nowrap
      justify-content: space-between

    .intro-phase-item
      position: relative
      width: 31.25%
      border: 1px solid #343434
      box-sizing: border-box

      &:hover,
      &:focus,
      &:active
        img
          opacity: 8

      img
        display: block
        width: 100%
        opacity: .6
        transition: .2s opacity

      h5
        margin-bottom: 10px
        text-align: center

        span
          display: inline-block
          height: 20px
          padding: 16px 30px
          color: #000
          font-size: 20px
          line-height: 20px
          white-space: nowrap
          background-color: #ffb400


      p
        display: block
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        height: 60px
        padding: 0 35px
        color: #e2e2e2
        font-size: 14px
        line-height: 1.4
        overflow: hidden
        text-overflow: ellipsis

      .page-text
        position: absolute
        bottom: 10px

    .intro-phase-text
      padding: 25px 135px

  .intro-plan
    display: flex
    flex-wrap: nowrap
    align-items: flex-end
    margin-bottom: 80px

    .intro-plan-bar
      flex-grow: 1
      flex-shrink: 1
      max-width: 840px
      min-width: 680px
      margin: 0 16px 80px 0

      .bar-list
        position: relative
        display: flex
        align-items: flex-end
        justify-content: space-around
        z-index: 1

      .bar-item
        position: relative
        width: 200px
        cursor: default

        &:hover,
        &:focus,
        &:active
          .popup
            margin-bottom: 60px

          .dot
            transform: scale(1.2)

        &:first-child
          width: 270px

        .popup
          position: relative
          padding: 25px
          margin-bottom: 44px
          color: #a6a6a6
          font-size: 16px
          line-height: 1.4
          background-color: #0f0f0f
          border-radius: 10px
          transition: .5s margin-bottom

          &:after
            content: ""
            position: absolute
            right: 0
            bottom: -20px
            left: 0
            display: block
            width: 0
            height: 0
            margin: auto
            font-size: 0
            border: 10px solid
            border-color: #0f0f0f transparent transparent transparent

        .dot
          position: absolute
          right: 0
          bottom: -12px
          left: 0
          display: block
          width: 20px
          padding: 2px
          margin: auto
          background-color: #fa0
          border-radius: 50%
          transition: .5s transform

          &:after
            content: ""
            display: block
            width: 16px
            height: 16px
            background-color: #ffd500
            border: 2px solid #000
            border-radius: 50%

        .text
          position: absolute
          right: 0
          bottom: -46px
          left: 0
          display: block
          height: 18px
          color: #ffb400
          font-size: 18px
          text-align: center

      .bar-border
        position: relative
        height: 2px
        margin: 0 30px
        background-color: #575757
        border-radius: 2px

        &:before,
        &:after
          content: ""
          position: absolute
          display: block
          width: 29px
          height: 2px
          background: url($imgDir/page/project-introduction/border-head.png) no-repeat
          background-size: 100%

        &:before
          left: -29px

        &:after
          right: -29px
          transform: rotate(180deg)

    .intro-plan-img
      flex-grow: 0
      flex-shrink: 1
      max-width: 440px
      align-self: center

      img
        display: block
        width: 100%

  .intro-slide
    display: flex
    flex-wrap: nowrap
    margin-bottom: 80px

    .intro-slide-container
      display: flex
      flex-grow: 0
      flex-shrink: 0
      align-items: top
      width: 480px
      margin-right: 40px
      overflow: hidden

      .intro-slide-item
        outline: none

      .slick-arrow
        flex-grow: 0
        flex-shrink: 0
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 225px
        cursor: pointer

      .slick-list
        flex-grow: 1
        flex-shrink: 1

      .page-text
        padding-top: 5px
        font-size: 14px
        line-height: 1.4

    .intro-slide-detail
      p
        margin-top: 25px

        &:first-child
          margin-top: 0

  .intro-organization
    .page-text
      p
        margin-bottom: 25px

        &:last-child
          margin-top: 0

      a
        color: #ffb400
        text-decoration: underline

        &:hover,
        &:focus,
        &:active
          color: #fff

    .intro-organization-block
      display: flex

    .intro-organization-text
      flex-grow: 1
      flex-shrink: 1
      width: 530px
      margin-right: 40px

    .intro-organization-img
      flex-grow: 0
      flex-shrink: 1
      width: 680px

      img
        display: block
        width: 100%
        margin-bottom: 25px

.progress
  .progress-intro
    margin-bottom: 80px

  .progress-tab
    display: flex
    justify-content: center
    margin-bottom: 50px

    li
      width: 198px
      height: 48px
      line-height: 48px
      text-align: center
      border: solid #ffb400
      border-width: 1px 1px 1px 0
      background-color: #000

      &:first-child
        border-width: 1px

      &.active
        background-color: #ffb400

        a
          color: #000

      a
        display: block
        width: 100%
        height: 100%
        color: #d1d1d1
        font-size: 18px

  .progress-content
    li
      display: none

      &.active
        display: block

      img
        flex-grow: 1
        flex-shrink: 1
        width: 493px
        margin-right: 30px

      div
        flex-grow: 1
        flex-shrink: 1

      p
        margin-top: 25px

        &:first-child
          margin-top: 0

      .progress-item
        display: flex

  .progress-case
    display: flex

    .page-text
      p
        margin-bottom: 25px

        &:last-child
          margin-top: 0

    .progress-case-text
      flex-grow: 1
      flex-shrink: 1
      width: 740px
      margin-right: 40px

    .progress-case-img
      flex-grow: 0
      flex-shrink: 1
      width: 500px

      img
        display: block
        width: 100%


/* responsive styles */
@media (max-width: 1024px)
  .content
    h2
      margin-bottom: 15px

    h4
      height: 18px
      padding-bottom: 10px
      color: #e2e2e2
      font-size: 18px
      line-height: 1

    .page-text
      font-size: 14px

  .banner
    background-size: contain

    .page-wrap
      display: flex
      flex-wrap: wrap-reverse
      justify-content: center
      height: auto
      background: none

    .banner-text
      width: 100%
      padding-top: 60px
      font-size: 14px

    .banner-photo
      position: static
      top: auto
      right: auto
      padding-top: 30px

  .intro
    .intro-phase
      margin-bottom: 30px

      .intro-phase-list
        flex-wrap: wrap

      .intro-phase-item
        width: 100%
        margin-bottom: 10px

        h5
          position: absolute
          top: 0
          left: 0
          text-align: left

          span
            padding: 4px 8px
            font-size: 16px

        p
          position: absolute
          bottom: 10px
          padding: 0 10px
          font-size: 12px

        .page-text
          top: 0
          right: 0
          left: 0
          bottom: 0

      .intro-phase-text
        padding: 0

    .intro-plan
      flex-wrap: wrap

      .intro-plan-bar
        width: 100%
        min-width: unset;
        padding-bottom: 50px;
        margin-right: 0
        overflow: auto;

        .bar-item
          .popup
            margin-bottom: 44px !important

        .bar-list
          min-width: 680px;

        .bar-border
          min-width: 680px;

          &:before
            content: "\f100"

          &:after
            content: "\f101"

          &:before,
          &:after
            display: inline-block
            width: auto
            height: auto
            color: #575757
            font: normal normal normal 14px/1 FontAwesome
            font-size: inherit
            text-rendering: auto
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale
            background: none
            animation-duration: 2s
            animation-timing-function: ease-in-out
            animation-iteration-count: infinite

          &:before
            animation-name: $keyframe-scrollarrow-right

          &:after
            animation-name: $keyframe-scrollarrow-left

      .intro-plan-img
        max-width: unset

    .intro-slide
      flex-wrap: wrap

      .intro-slide-container
        width: 100%
        margin-bottom: 80px

        .slick-arrow
          display: none !important

      .intro-slide-item
        img
          width: 100%

    .intro-organization
      .intro-organization-block
        flex-wrap: wrap

      .intro-organization-text,
      .intro-organization-img
        width: 100%
        flex-shrink: 0

  .progress
    .progress-tab
      display: block
      margin-bottom: 20px

      li
        margin: 0 auto
        border-width: 0 1px 1px 1px

    .progress-content
      li
        img,
        div
          width: 100%
          margin-bottom: 10px

        .progress-item
          display: block

    .progress-case
      flex-wrap: wrap

      .progress-case-text,
      .progress-case-img
        width: 100%
        flex-shrink: 0
