body
  padding: 0
  margin: 0

footer
  position: fixed
  right: 0
  bottom: 0
  height: 12px
  padding: 5px 10px
  background-color: rgba(255, 255, 255, .5)
  border-top-left-radius: 5px
  font-size: 12px
  line-height: 1

.index-coverpic
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  background-image: url(/layout/dist/img/coming_soon.jpg)
  background-repeat: no-repeat
  background-position: 50% 25%
  background-size: cover
  animation: 10s 1s forwards;
  animation-name: pic-scale;
  transform: scale(1.05)

@keyframes pic-scale {
  from {
    transform: scale(1.05)
  }
  to {
    transform: scale(1)
  }
}