@import "../base.styl"

.block-content
  position: relative
  z-index: 1

.block-bg
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 0

[data-scroll-child]
  opacity: 0
  transition: all 1s

  &.scroll-triggered
    opacity: 1

.banner
  position: relative
  width: 100%
  height: 0
  padding-bottom: 50%
  overflow: hidden
  z-index: 0

  .banner-slide
    position: absolute
    top: 0
    right: 0
    left: 0

  img
    display: block
    width: 100%

  .banner-slide-item
    outline: none

  .slick-dots
    position: absolute
    right: 0
    bottom: 40px
    left: 0
    text-align: center

    li
      display: inline-block

      &.slick-active
        button
          background-color: #ffc600

      button
        display: block
        width: 80px
        height: 5px
        margin: 0 3px
        background-color: rgba(0, 0, 0, .5)
        font-size: 0
        border: none
        outline: none
        cursor: pointer
        transition: background-color .2s

.intro
  h2
    padding-bottom: 52px
    text-align: center

  p
    color: #262626
    font-size: 26px
    line-height: 1.35

  .intro-organization
    position: relative
    padding: 200px 0 140px 0
    background: url($imgDir/index/intro-organization-bg.jpg) #fff no-repeat
    background-size: cover
    background-position: 50% 50%

    h2
      color: #262626

    .block-bg
      background-color: rgba(255, 255, 255, 0)
      transition: background-color 1s

    &.scroll-triggered
      .block-bg
        background-color: rgba(255, 255, 255, .5)

  .intro-primer
    padding: 128px 0 110px 0
    background: url($imgDir/index/intro-primer-bg.jpg) #050505 no-repeat
    background-size: contain
    background-position: 100% 100%
    filter: grayscale(100%);
    transition: filter 1s

    &.scroll-triggered
      filter: grayscale(0%);

    h2
      color: #e2e2e2

    p
      width: 660px
      color: #a6a6a6
      font-size: 22px

  .intro-member
    padding: 142px 0 125px 0
    background: url($imgDir/index/intro-member-bg.jpg) #ffb400 no-repeat
    background-size: cover
    background-position: 50% 50%

    p
      color: #262626
      font-size: 22px
    a
      color: #262626

    .page-wrap
      opacity: 0
      transition: opacity 1s

    &.scroll-triggered
      .page-wrap
        opacity: 1

.contribute
  position: relative
  height: 640px
  background: url($imgDir/index/contribute-bg.jpg) #fff no-repeat
  background-size: cover
  background-position: 50% 50%

  h2
    padding: 77px 0 40px 0
    color: #262626
    text-align: center

  p
    color: #262626
    font-size: 30px
    text-align: center
    line-height: 40px

  a
    position: absolute
    bottom: 80px
    left: 50%
    padding: 22px 42px
    margin: auto
    background-color: #ffc000
    color: #262626
    font-size: 28px
    cursor: pointer
    transform: translateX(-50%)
    transition: all .2s

    &:hover,
    &:focus
      background-color: #ffde7b

  .block-bg
    bottom: auto
    height: 435px
    background: url($imgDir/index/contribute-mask.png) repeat-x
    background-size: contain
    opacity: .75
    transition: opacity 1s

  &.scroll-triggered
    .block-bg
      opacity: 1

.gallery
  h2
    height: 30px
    padding: 80px 0 50px 0
    color: #e2e2e2
    font-size: 30px
    line-height: 1
    text-align: center

  .gallery-list
    display: flex
    max-width: 1355px
    padding: 0 10px 35px 10px
    margin: 0 auto
    flex-wrap: wrap
    justify-content: space-between

    .gallery-item
      position: relative
      width: 13.5%
      margin-bottom: 10px
      overflow: hidden

      &:hover,
      &:focus
        .gallery-item-desc
          bottom: 0

      img
        display: block
        width: 100%
        height: 100%

      .gallery-item-desc
        position: absolute
        right: 0
        bottom: -72px
        left: 0
        height: 40px
        padding: 16px 0
        background-color: rgba(0, 0, 0, .5)
        overflow: hidden
        transition: bottom .2s

        span
          display: block
          width: 100%
          line-height: 20px
          text-align: center
          text-overflow: ellipsis
          white-space: nowrap
          overflow: hidden

        .gallery-item-title
          font-size: 16px

        .gallery-item-text
          font-size: 12px

/* responsive styles */
@media (max-width: 1024px)
  .banner
    .slick-dots
      bottom: 20px

      li
        button
          width: 20px
          height: 2px

  .intro
    h2
      font-size: 20px

    p
      font-size: 14px

    .intro-organization
      padding: 100px 0 70px 0

    .intro-primer
      .page-wrap
        position: relative
        top: -80px

      h2
        padding-bottom: 32px

      p
        width: auto
        font-size: 14px

    .intro-member
      padding: 70px 0 60px 0

      p
        font-size: 14px

  .contribute
    height: 320px

    h2
      font-size: 24px

    p
      font-size: 16px

    a
      bottom: 40px;
      padding: 10px 20px;
      font-size: 14px

    .block-bg
      height: 240px

  .gallery
    h2
      font-size: 16px

    .gallery-list
      display: block
      width: auto
      padding: 0 15px 15px 15px

      &:after
        content: ''
        display: block
        width: 0
        height: 0
        font-size: 0
        clear: both
        overflow: hidden

      .gallery-item
        float: left
        width: 50%
        height: auto
        padding: 1%
        margin: 0
        box-sizing: border-box
