$staticDir = '/layout/dist'
$imgDir = $staticDir + '/img'

$font-sans = "PingFang-SC-Regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
$font-serif = Linux Libertine, Georgia, Times, SimSun, serif;