$staticDir = '/layout/dist'
$imgDir = $staticDir + '/img'

$font-sans = Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
$font-serif = Linux Libertine, Georgia, Times, SimSun, serif;