@import "../base.styl"

.article
  background: #fff
  color: #333
  font-size: 16px

  .page-main
    width: 645px
    margin: 0 auto
    padding: 60px 0

  h2
    height: 35px
    padding-left: 24px
    margin-bottom: 40px
    color: #333
    font-size: 24px
    line-height: 35px
    vertical-align: middle
    background-image: url($imgDir/page/about-north-chinese-leopards/sprites.png)
    background-image: -webkit-image-set(url($imgDir/page/about-north-chinese-leopards/sprites.png) 1x, url(/layout/dist/img/page/about-north-chinese-leopards/sprites@2x.png) 2x)
    background-repeat: no-repeat
    background-position: 0 2px
