@import "../base.styl"

.article
  .article-header
    margin-bottom: 15px

  h2
    height: 35px
    margin-top: 35px
    color: #fff
    font-size: 24px
    line-height: 35px

  .article-header-search
    margin-top: 35px
    font-size: 0

    input[type="search"]
      width: 400px
      height: 16px
      padding: 20px 10px
      border: 0
      color: #8c9198
      font-size: 16px
      font-family: $font-sans
      background-color: #1a1a1a
      outline: none
      vertical-align: top

    button
      width: 100px
      height: 40px
      border: 0
      color: #000
      font-size: 16px
      font-family: $font-sans
      line-height: 40px
      background-color: #ffb20d
      cursor: pointer
      vertical-align: top

  .article-list
    margin: 0 -10px
    padding-top: 20px
    border-top: 2px solid #666

  .article-item
    margin: 0 0 1.5% 0

    a
      display: flex
      padding: 20px
      background-color: #131313
      cursor: pointer
      transition: background-color .2s

      &:hover,
      &:focus,
      &:active
        background-color: #1e1e1e

    i
      position: relative
      top: 4px
      color: #535353
      font-size: 26px

    .item-icon
      flex-grow: 0
      flex-shrink: 0
      display: block
      width: 38px
      height: 43px
      border: 1px solid #535353
      border-radius: 5px
      background-color: #1b1b1b
      line-height: 43px
      text-align: center

    .item-main
      display: flex
      flex-grow: 1
      flex-shrink: 1
      overflow: hidden

    .item-thumb
      flex-grow: 0
      flex-shrink: 0
      max-width: 228px
      height: 95px
      margin-right: 20px
      overflow: hidden

      img
        display: block
        width: 100%

    .item-title
      display: block
      margin-bottom: 16px
      color: #eee
      font-size: 24px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    .item-digest
      display: block
      margin-bottom: 16px
      color: #8c9198
      font-size: 14px
      line-height: 1.4

    .item-author
      display: block
      font-size: 14px

      .fa
        font-size: 20px

      *
        color: #8c9198
        vertical-align: bottom

    .item-info
      flex-grow: 0
      flex-shrink: 0
      height: 45px
      min-width: 130px
      padding-left: 10px
      color: #5e5e5e
      font-size: 14px
      line-height: 45px
      text-align: right

    .item-time
      margin-left: 26px

  .article-loading
    margin: 30px 0
    text-align: center

  .article-fetch
    display: block
    width: 50%
    height: 40px
    padding: 30px
    margin: auto
    color: #8c9198
    font-size: 14px
    text-align: center
    line-height: 40px

    &:hover,
    &:focus,
    &:active
      color: #fff

/* responsive styles */
@media (max-width: 1024px)
  .article
    .article-item
      width: 100%
      max-width: none
      margin: 0 0 20px 0

      a
        padding: 10px
        flex-wrap: wrap

      .item-main
        width: 100%
        flex-wrap: wrap

      .item-thumb
        width: 100%
        height: auto
        max-width: none
        min-height: 32px
        margin-right: 0

      .item-text
        position: relative
        width: 100%

      .item-title
        position: absolute
        top: -32px
        width: 96%
        height: px
        padding: 0 2%
        font-size: 16px
        line-height: 32px
        background-color: rgba(0, 0, 0, .5)
        text-overflow: ellipsis
        overflow: hidden

      .item-digest
        margin: 12px 0 0 0
        font-size: 12px

      .item-author
      .item-info
        display: none
