@import "../base.styl"

.content
  .page-wrap
    max-width: 680px
    background-color: #fff
    padding: 32px
    box-shadow: #fff 0 0 20px

  a
  a:hover
  a:visited
  a:active
    color: #576b95


  h2
    height: auto
    min-height: 45px
    margin-bottom: 16px
    color: #333
    font-size: 32px
    text-align: center

  .page-info
    margin-bottom: 16px
    color: rgba(0, 0, 0, 0.3)
    font-size: 14px
    text-align: center

    span
      margin-right: 10px

@media (max-width: 1024px)
  body
    background-color: #fff !important

  .content
    .page-wrap
      padding: 12px
      box-shadow: none

    h2
      font-size: 20px
      line-height: 1.2

    .page-info
      font-size: 12px
