@import "../base.styl"

@css {
  /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

/* page commons */
html
  height: 100%
  padding: 0
  margin: 0
  color: #e2e2e2
  background-color: #050505
  font-family: $font-sans

body
  position: relative
  min-height: 100%
  padding: 0 0 134px 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.pull-left
  float: left !important

.pull-right
  float: right !important

.text-left
  text-align: left !important

.text-center
  text-align: center !important

.text-right
  text-align: right !important

.text-italic
  font-style: italic

.clearfix
  &:after
    content: ''
    display: block
    width: 0
    height: 0
    font-size: 0
    clear: both
    overflow: hidden

/* links */
a
  color: #888
  text-decoration: none
  transition: color .5s

a:focus,
a:hover,
a:active
  color: #fff

/* header */
header
  position: absolute
  top: 0
  right: 0
  left: 0
  height: 80px
  background-color: rgba(17, 17, 17, .7)
  z-index: 100

  .header-logo
    position: relative
    float: left
    width: 160px
    height: 100%
    padding: 10px
    margin-right: 20px
    background-color: #ffb400
    color: #000
    font-size: 35px
    font-weight: bold
    text-align: center
    line-height: 80px
    box-sizing: border-box

    &:after
      content: ""
      position: absolute
      top: 0
      right: -20px
      display: block
      width: 20px
      height: 80px
      background: url($imgDir/common/header-edge.png) no-repeat
      background-size: 100% 100%

    a
      display: block
      width: 100%
      height: 100%
      font-size: 0
      background: url($imgDir/common/logo.png) no-repeat
      background-size: contain
      background-position: 50% 50%

  .header-menu
    float: right
    height: 80px
    padding-right: 50px
    font-size: 0
    line-height: 80px

    li
      display: inline-block
      font-size: 18px
      vertical-align: top

      a
        display: inline-block
        padding: 0 20px
        color: #fff

        &:hover,
        &:focus,
        &:active
          color: #ffd013

      &.active
        a
          color: #ffd013

    .header-layer-btn
      position: relative
      cursor: pointer

      &:focus,
      &:hover,
      &:active
        .header-layer-wrap
          display: block

    .header-layer-wrap
      position: absolute
      left: 50%
      top: 65px
      display: none
      padding: 5px
      background-color: #fff
      border-radius: 4px
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5)
      transform: translateX(-50%)

      &:after
        content: ''
        position: absolute
        top: -12px
        left: 50%
        display: block
        width: 0
        height: 0
        border: 6px solid transparent
        border-bottom-color: #fff
        transform: translateX(-50%)

      img
        display: block


/* content */
.content-static
  padding-top: 80px

.content
  h2
    height: 45px
    color: #e2e2e2
    font-size: 45px
    line-height: 1

/* footer */
footer
  position: absolute
  right: 0
  bottom: 0
  left: 0
  padding: 40px 0
  color: #888
  font-size: 16px
  line-height: 1.5
  background-color: #171717

  p
    line-height: 1.5

  .footer-link
    height: 54px
    line-height: 54px

    li
      display: inline-block

      a
        display: inline-block
        padding: 0 20px

      .fa
        font-size: 20px

    .footer-layer-btn
      position: relative
      cursor: pointer

      &:focus,
      &:hover,
      &:active
        .footer-layer-wrap
          display: block

    .footer-layer-wrap
      position: absolute
      left: 50%
      bottom: 55px
      display: none
      padding: 5px
      background-color: #fff
      border-radius: 4px
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5)
      transform: translateX(-50%)

      &:after
        content: ''
        position: absolute
        bottom: -12px
        left: 50%
        display: block
        width: 0
        height: 0
        border: 6px solid transparent
        border-top-color: #fff
        transform: translateX(-50%)

      img
        display: block

  .footer-copyright
    color: #444
    font-size: 12px

@media (max-width: 1024px)
  header
    position: static
    top: auto
    right: auto
    left: auto
    display: flex
    justify-content: space-between
    width: 100%
    height: 40px

    .header-logo
      flex-shrink: 0
      width: 60px
      height: 40px
      padding: 0
      font-size: 14px
      line-height: 40px

      &:after
        right: -10px
        width: 10px
        height: 40px

    .header-menu
      padding: 0 10px
      height: 40px
      line-height: 40px
      white-space: nowrap
      overflow-x: auto
      overflow-y: hidden

      li
        a
          padding: 0 5px
          font-size: 14px

        .header-layer-btn
          display: none

  .content-static
    padding-top: 0

  .content
    h2
      height: 20px
      color: #e2e2e2
      font-size: 20px
      line-height: 1

  footer
    padding: 20px 0 10px 0

    .footer-link
      float: none !important
      height: auto
      margin-bottom: 10px
      font-size: 14px
      line-height: 24px
      text-align: right

      li
        margin: 0 5px

        .fa
          font-size: 16px

    .footer-copyright
      float: none !important
      text-align: left

/* wrap */
.page-wrap
  position: relative
  max-width: 1280px
  padding: 0 40px
  margin: 0 auto

/* totop */
.page-totop
  position: fixed
  right: 20px
  bottom: 20px
  display: block
  width: 46px
  height: 46px
  border: 2px solid
  border-color: rgba(255, 255, 255, .2)
  border-radius: 4px
  color: rgba(255, 255, 255, .3)
  text-align: center
  text-decoration: none
  line-height: 46px
  background-color: rgba(255, 255, 255, .2)
  cursor: pointer
  z-index: 1000
  overflow: hidden
  opacity: .5
  transition: border-color .5s, color .5s

  &:focus,
  &:hover,
  &:active
    border-color: rgba(255, 255, 255, .4)
    color: rgba(255, 255, 255, .6)

  i
    font-size: 24px

  span
    font-size: 0
