@import "../base.styl"

.album
  margin: 40px auto 62px auto

  .album-list
    display: flex
    justify-content: space-between

  .album-item
    width: 32.5%
    overflow: hidden

    &:hover,
    &:focus,
    &:active
      .cover
        .album-text
          bottom: 0
          opacity: 1

    &.active
      .title
        color: #ffb400
        
      .subtitle
        color: #ffde7b

    .title
      font-size: 24px
      line-height: 1.5

    .subtitle
      margin-bottom: 16px
      color: #7f7e7e
      font-size: 14px
      line-height: 1

    .cover
      position: relative

      img
        display: block
        width: 100%

      .album-text
        position: absolute
        right: 0
        left: 0
        bottom: -108px
        display: block
        height: 60px
        padding: 24px 18px
        background-color: rgba(255, 180, 0, .8)
        color: #3c2d22
        font-size: 14px
        line-height: 1.43
        overflow: hidden
        opacity: 0
        transition: all .2s

        span
          display: block
          height: 60px
          overflow: hidden

  .album-desc
    width: 1024px
    margin: 24px auto 0 auto
    color: #888
    font-size: 16px
    line-height: 1.5

.gallery
  margin-bottom: 130px

  .gallery-type
    height: 58px
    margin-bottom: 20px
    border-bottom: 2px solid #313131

    li
      display: inline-block

      a
        display: block
        width: 105px
        height: 18px
        padding: 20px 0
        font-size: 18px
        text-align: center

      &:first-child
        a
          width: 144px

      &.active
        a
          color: #fff
          border-bottom: 2px solid #ffb400

  .gallery-search
    padding-top: 10px
    font-size: 0

    input
      width: 200px
      height: 16px
      padding: 10px
      background-color: #131313
      border: none
      color: #888
      font-size: 16px
      line-height: 1
      box-sizing: content-box
      outline: none
      vertical-align: middle

    button
      width: 36px
      height: 36px
      background-color: #ffb400
      border: none
      color: #3e2b00
      line-height: 36px
      font-size: 20px
      text-align: center
      outline: none
      cursor: pointer
      vertical-align: middle
      transition: background .2s

      &:hover,
      &:focus,
      &:active
        background-color: #ffde7b

  .gallery-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    li
      position: relative
      width: 16%
      margin-bottom: 12px
      overflow: hidden
      cursor: default

      &:hover,
      &:focus,
      &:active
        div
          opacity: 1
          transform: scale(1)

      img
        display: block
        width: 100%
        height: 100%

      div
        position: absolute
        right: 14px
        bottom: 14px
        left: 14px
        padding: 8px 10px 10px 10px
        background-color: rgba(255, 180, 0, .9)
        color: #000
        opacity: 0
        transform: scale(.8)
        transition: all .2s

        .title
          display: block
          margin-bottom: 2px
          font-size: 16px
          text-align: center

        .desc
          display: block
          height: 40px
          font-size: 14px
          line-height: 1.4
          overflow: hidden

/* responsive styles */
@media (max-width: 1024px)
  .album
    margin: 20px auto 30px auto

    .album-list
      flex-wrap: wrap

    .album-item
      position: relative
      width: 100%
      margin-bottom: 20px

      .title
        position: absolute
        top: 0
        right: 0
        left: 0
        background-color: rgba(0, 0, 0, .5)
        font-size: 18px
        z-index: 1

      .subtitle
        display: none

      .cover
        .album-text
          height: 34px
          padding: 6px 4px
          font-size: 12px

          span
            height: 34px

    .album-desc
      width: auto
      margin: 0
      font-size: 14px

  .gallery
    margin-bottom: 60px

    .gallery-type
      height: 24px

      li

        &:first-child
          a
            width: auto

        a
          width: auto
          height: 14px
          padding: 5px
          font-size: 14px

    .gallery-search
      display: none

    .gallery-list
      li
        width: 48%
        height: auto

        div
          .title
            font-size: 12px

          .desc
            height: 32px
            font-size: 12px
